@import url("https://rsms.me/inter/inter.css");

:root {
  --main-width: 75%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  height: 100px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--main-width);
  margin: 0 auto;
  padding: 10px;
}

.links-wrapper {
  display: flex;
  flex-direction: row;
}

.links-wrapper li {
  color: white;
  margin-right: 50px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.main-btn {
  padding: 8px 12px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
}

.main-btn.nav-btn {
  background-color: white;
}

.nav-wrapper {
  background-color: #10316b;
}

.container {
  width: var(--main-width);
  margin: 0 auto;
}

.container.hero-section {
  margin-top: 20px;
}

.create-assignment-button {
  background-color: #e25822;
  color: white;
}

.close-creator {
  cursor: pointer;
}
