/* import font */

@import url("https://rsms.me/inter/inter.css");
:root {
  --main-width: 75%;
  --main-navbar: #222831;
  --main-assignmnet-btn: #e25822;
}

/* define some bacis root styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

/* navbar styling */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--main-width);
  margin: 0 auto;
  padding: 12px 0px;
}

.links-wrapper {
  display: flex;
  flex-direction: row;
}

.links-wrapper li {
  color: black;
  margin-right: 50px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.links-wrapper li a {
  color: white;
}

.main-btn {
  padding: 8px 12px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.main-btn.nav-btn {
  background-color: white;
}

.nav-wrapper {
  background-color: var(--main-navbar);
}

.container {
  width: var(--main-width);
  margin: 0 auto;
}

/* navbar styling */

.container.hero-section {
  margin-top: 40px;
}

.onboard-wrapper p {
  color: grey;
  font-size: 12px;
  margin-top: 5px;
}

.create-assignment-button {
  background-color: var(--main-assignmnet-btn);
  color: white;
  cursor: pointer;
}

.close-creator {
  cursor: pointer;
}

.create-course-group-btn.main-btn {
  background-color: #1089ff;
  color: white;
  margin-left: 30px;
}

.create-student-group-btn.main-btn {
  background-color: #10316b;
  color: white;
  margin-left: 30px;
}

.create-btns-wrapper {
  margin-top: 50px;
}
.create-assignmnet-modal {
  position: fixed;
  top: 100%;
  left: 100%;
}

/* modal styling  */

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.modal {
  position: relative;
}

.airtable-embed {
  height: 80vh;
  width: 70vw;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.close-modal {
  color: black;
  position: absolute;
  /* size of the x button */
  font-size: 22px;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

/*  assignment table styling  */

.main-table {
  border-collapse: collapse;
}

.main-table.caos-assign-table {
  margin-top: 20px;
}

.table-hover {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.table-hover th {
  padding: 5px 5px;
  background-color: #222831;
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.table-hover th:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.table-hover th:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.table-hover td {
  padding: 5px;
  text-align: center;
  font-size: smaller;
  text-align: left;
}

.table-hover tr:hover {
  background-color: #f5f6fa;
  -webkit-box-shadow: 10px 10px 78px 34px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 10px 10px 78px 34px rgba(0, 0, 0, 0.02);
  box-shadow: 10px 10px 78px 34px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  cursor: pointer;
}

/* course group styling */

.caos-course-group-table {
  margin-top: 20px;
}

.course-groups-table-hover {
  border-collapse: collapse;
  width: 100%;
}

.course-groups.table-hover th {
  padding: auto;
  background-color: #1089ff;
  color: white;
  font-size: small;
}

.course-groups-table-hover td {
  border: solid 1px #dddddd;
  padding: auto;
  text-align: center;
  font-size: smaller;
}

/* Crteate courses styling */

.modal-ccg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.modal-ccg-content {
  position: relative;
}

.airtable-embed-ccg {
  height: 80vh;
  width: 70vw;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.close-modal-ccg {
  position: absolute;
  /* size of the x button */
  font-size: 22px;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

/* Create student styling */
.modal-csg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}

.modal-csg-content {
  position: relative;
}

.airtable-embed-csg {
  height: 80vh;
  width: 70vw;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.close-modal-csg {
  color: black;
  position: absolute;
  /* size of the x button */
  font-size: 22px;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

/* student groups table styling */

.caos-student-group-table {
  margin-top: 20px;
}

/* .student-groups-table-hover th {
  padding: auto;
  background-color: #10316b;
  color: white;
  font-size: small;
} */

.student-groups-table-hover td {
  border: solid 1px #dddddd;
  padding: auto;
  text-align: center;
  font-size: smaller;
}

.main-btn.edit-btn {
  background-color: grey;
  padding: 6px 10px;
  color: white;
}
/* original: 341 */
